@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Designer-Block;
    src: url('../assets/Designer-Block.TTF');
}

* {
    background-color: #fafafa;
}

.home {
    background-color: #fafafa;
}

.home-play-container {
    font-family: Designer-Block;
}

.gameboard {
    aspect-ratio: 5/9;
}

.tile {
    background-color: #e4e5f1;
}