@tailwind base;
@tailwind components;
@tailwind utilities;

.home-play-container {
    height: 100vh;
    background-color: #212223;
    background-image: linear-gradient(teal .5rem, transparent .5rem), linear-gradient(90deg, teal .2rem, transparent 5rem);
    background-size: 5rem 5rem;
}